<a href="https://colab.research.google.com/github/SmitaPaul7000/Python-DSA/blob/main/Common.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Move all zeros to the end of an array

In [30]:
arr = [1, 9, 8, 4, 0, 0, 2, 7, 0, 6, 0, 9, -1, 0, 0]
# arr = [1]
# arr = []
i = 0

for k in range(len(arr)):
    if arr[k] != 0:
        arr[i] = arr[k]
        i += 1

for j in range(i, len(arr)):
    arr[j] = 0

print(arr)

[]

#Merge 2 sorted array

In [18]:
a = [1,3, 5,7, 11, 13, 90]
b = [-1,2,4,9,10, 100, 120]

c =[]

i =0
j = len(a)


i1 =0
j1 = len(b)

while i < j and i1 < j1:
  if a[i] < b[i1]:
    c.append(a[i])
    i = i+1
  else:
    c.append(b[i1])
    i1 = i1+1

while i1< j1:
    c.append(b[i1])
    i1 = i1+1

while i< j:
    c.append(a[i])
    i = i+1

print(c)

[-1, 1, 2, 3, 4, 5, 7, 9, 10, 11, 13, 90, 100, 120]

# Reverse array inplace

In [6]:
a = [1, 2, 3, 4, 5]

i =0
j =len(a) -1

while i< j:
  a[i], a[j] = a[j], a[i]
  i += 1
  j -= 1

print(a)

[5, 4, 3, 2, 1]

In [ ]:
def maxWater(arr):
    left = 0
    right = len(arr) - 1
    res = 0
    while left < right:

        # Find the water stored in the container between
        # arr[left] and arr[right]
        water = min(arr[left], arr[right]) * (right - left)
        res = max(res, water)

        if arr[left] < arr[right]:
            left += 1
        else:
            right -= 1

    return res


if __name__ == "__main__":
    arr = [2, 1, 8, 6, 4, 6, 5, 5]
    print(maxWater(arr))

25

In [ ]:
arr = [2, 1, 8, 6, 4, 6, 5, 5]

left =0
right = len(arr) -1
res = 0
result = 0

while left < right:

  water = min(arr[left] , arr[right]) * (right - left)
  res = max(water , res)

  if arr[left] < arr[right]:
    left += 1
  else:
    right -= 1

print(res)

25

# Array : find greater num count

In [ ]:
A = [-3, -2, -1, -1]
A = [-3, -2, 6, 8, 4, 8,5]
max = A[0]
c=0
len_arr = 0

for i in A:
  len_arr += 1

  if i > max:
    max = i
  elif i == max:
    c+=1

print(len_arr, c, max)

7 2 8

# Prime Number

In [ ]:
def check_prime(N):
    C = 0
    i = 1
    while i < N+1:
        if N % i == 0:
            C += 1

        i += 1
    if C == 2:
      return True
    else:
      return False

# Example usage
print(check_prime(7))  # True
print(check_prime(10)) # False
print(check_prime(97)) # True

True
False
True

In [ ]:
# check prime
cnt = 0
n = 18
for i in range(2,n):
  # print(i)
  if n%i == 0:
    cnt = cnt+1


if cnt== 2:
  print("True" , i)
else:
  print("false",i,  cnt)

false 17 4

In [ ]:
num = 407

# To take input from the user
#num = int(input("Enter a number: "))

if num == 0 or num == 1:
    print(num, "is not a prime number")
elif num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")

# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

In [ ]:
n  = 17
is_prime = True

for i in range(2, n):
  if n% i ==0:
    is_prime = False
    break

print(is_prime)

True

In [ ]:
n  = 117
is_prime = True

for i in range(2, int(n **0.5) + 1):
  if n% i ==0:
    is_prime = False
    break

print(is_prime)

False

In [ ]:
prim_num = []

for j in range(1, 100):
  n  = j
  is_prime = True

  for i in range(2, int(n **0.5) + 1):
    if n% i ==0:
      is_prime = False
      break

  # print(j, "  ", is_prime)
  if(is_prime):
    prim_num.append(j)

print(prim_num)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
prim_num = []

for j in range(1, 100):
  n  = j
  is_prime = True

  while i*i < n:
    if n% i ==0:
      is_prime = False
      break
    i+=1

  # print(j, "  ", is_prime)
  if(is_prime):
    prim_num.append(j)

print(prim_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
def check_prime(N):
    C = 0
    i = 1
    while i * i <= N:
        if N % i == 0:
            if i == N / i:
                C += 1
            else:
                C += 2
        i += 1
    return C == 2

# Example usage
print(check_prime(7))  # True
print(check_prime(10)) # False

True
False